PORT=8080
OPENCEP_API="https://opencep.com/v1"
TDV_URL="http://localhost:3000"
MONGO_URI=
JWT_SECRET=
JWT_INVITATION_SECRET=

# Route da API Scraper
SCRAPER_SERVICE=""

# Necessário application user criado no ambiente
SCRAPER_APP_CLIENT=""
SCRAPER_APP_KEY=""

# Necessário para envio de emails
EMAIL_TOKEN=


# Necessário em production
ALLOWED_ORIGINS=