PORT=8080
OPENCEP_API="https://opencep.com/v1"
MONGO_URI=
JWT_SECRET=

# Route da API Scraper
SCRAPER_SERVICE=""

# Necessário application user criado no ambiente
SCRAPER_APP_CLIENT=""
SCRAPER_APP_KEY=""

# Necessário em production
ALLOWED_ORIGINS=